@import url("/fonts/LuckiestGuy-Regular.ttf")
@font-face {
    font-family: 'LuckiestGuy';
    src: url(/fonts/LuckiestGuy-Regular.ttf);
}
body{
    text-align: center;
    font-size: larger;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'LuckiestGuy', fantasy;
}
.maincontent{
    display: flex;
}
.left{   
    width: 150px;
    display: inline-block;
    background-color: greenyellow;
    flex: 1;
}
.center{
    width: 300px;
    display: inline-block;
    flex: 1;
}
.buttons{
    font-size: 55px;
    background-color: greenyellow;
}
#loader{
    opacity: 0;
    z-index: -1;
    position: absolute;
}
#SCB{
    opacity: 0;
    z-index: -1;
    position: absolute;
}
.TextReplace:hover{
    cursor: pointer;
}
img{
    width: 100px;
    height: auto;
}
