body{
    text-align: center;
    font-size: larger;
    color: black;
    font-family: fantasy;
    background-image: url("imgs/MonkeyMeadow_No_UI.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.maincontent{
    display: flex;
}
.left{   
    width: 150px;
    display: inline-block;
    background-color: greenyellow;
    flex: 1;
}
.center{
    width: 300px;
    display: inline-block;
    flex: 1;
}
img{
    width: 100px;
    height: auto;
}